<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    /* Style the header with a grey background and some padding */
    .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    }

    /* Style the header links */
    .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    }

    /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
    .header a.logo {
    font-size: 25px;
    font-weight: bold;
    }

    /* Change the background color on mouse-over */
    .header a:hover {
    background-color: #ddd;
    color: black;
    }

    /* Style the active/current link*/
    .header a.active {
    background-color: dodgerblue;
    color: white;
    }

    /* Float the link section to the right */
    .header-right {
    float: right;
    }

    /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
    @media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    }
</style>
<div class="header">
    <a href="{% url 'display' %}" class="logo">Expese Manager</a>
    <a href="">Hello, {{request.user}}</a>
    <div class="header-right">
      <a  href="{% url 'display' %}">Home</a>
      <a href="{% url 'category_chart' %}">Analysis</a>
      <a href="{% url 'finance_page' %}">Finance</a>
      <a class="active" href="{% url 'loan_page' %}">Loan</a>
      <a href="{% url 'logout' %}">Logout</a>
    </div>
</div> 
<form action="" method="POST">
    {% csrf_token %}
    <p>Loan amount: <input type="number" name="loan_amount" value={{loan_amount}}></p>
    <p>Annual Intrest rate: <input type="number" name="annual_interest_rate" value={{annual_interest_rate}}></p>
    <p>Loan tenure: <input type="number" name="loan_term_years" value={{loan_term_years}}></p>
    <p>Monthly Prepayment: <input type="number" name="monthly_prepayment" value={{monthly_prepayment}}></p>
    <p><input type="submit" value="Submit"></p>
</form>

{{summary}}

<hr>
New Loan payment Schedule
<!-- {{schedule}} -->
<table>
    <tr>
      {% for col in schedule.columns %}
        <th>
          {{col}}
        </th>
      {% endfor %}
    </tr>
      {% for index, row in schedule.iterrows %}
        <tr>
          {% for cell in row %}
            <td>
              {{cell}}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
  </table>